<!DOCTYPE html>
<html>
<head>
  <title>Alexa</title>
  <%= stylesheet_link_tag    "alexa/application", media: "all" %>
  <%= javascript_include_tag "alexa/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
